<div class="menu_lateral">
  <div class="sobre_nos">
    <p>
      Traler Auto Peças e Acessórios
    </p>
  </div>
</div>
<div class="foto_empresa">
  <p class="imagem">
    <%= image_tag("auto_pecas.jpg") %>
    </p>
</div>